.App {
  font-family: sans-serif;
  text-align: center;
}

.fields > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.fields > div > label {
  width: 150px;
}

.fields > div > input,
.fields > div > textarea {
  flex: 2;
}

textarea {
  /* white-space: pre; */
}

body {
  padding: 16px;
}

h1 {
  font-weight: 300;
  line-height: 1.1;
}
a {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

a.current_page {
  color: black;
}